.navbar {
  width: 100%;
  height: 60px;
  background: #0e162e;
  overflow: hidden;
  display: -webkit-box;
  font-family: "Poppins";
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
  font-size: 15px;
}

.navbar2 {
  display: none;
}

.navBg {
  background-color: #0e1225;
}

.navbar .icon {
  display: none;
}

.navbar .navWrapper .closebtn {
  display: none;
}

.navbar .titleBar {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar .titleBar .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.navbar .titleBar .title {
  color: white;
  font-size: 20px;
}

.navbar .navWrapper {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-weight: 600;
}

.navbar .navWrapper .listCont {
  color: white;
}

@media screen and (max-width: 1206px) {
  .navbar {
    display: none;
  }
  .navbar2 {
    width: 100%;
    height: 55px;
    background: #0e1225;
    overflow: visible;
    display: -webkit-box;
    font-family: "Poppins";
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
  }
  .navbar2 .titleBar {
    width: 60%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    -webkit-box-pack: space-evenly;
            justify-content: space-evenly;
  }
  .navbar2 .titleBar .title {
    font-size: 16px;
    color: white;
    font-weight: 600;
  }
  .navbar2 .titleBar .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .navbar2 .icon {
    display: inline-block;
    font-size: 42px;
    margin: 0 10px;
    color: white;
    cursor: pointer;
  }
  .navbar2 .navWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    z-index: 6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #dfe0e0;
    -webkit-transition: ease-in 0.5s;
    transition: ease-in 0.5s;
    border-bottom-right-radius: 40px;
  }
  .navbar2 .navWrapper .closebtn {
    display: inline-block;
    color: #0e1225;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 38px;
    font-weight: bolder;
    cursor: pointer;
  }
  .navbar2 .navWrapper .listCont {
    margin: 15px;
    font-weight: 600;
    color: #0e1225;
  }
  .navbar2 .navWrapper .listCont:active {
    color: blueviolet;
  }
}
/*# sourceMappingURL=navbar.css.map */